<div style="width:400px; margin-left:auto; margin-right:auto;margin-top:150px;">
  <div style="float:left; margin-right:100px;text-align: center;">
    <img src="assets/customer_login_logo.png" width="110" />
    <a [routerLink]="['customer-login']">
      <h3 style="color:black">Customer</h3>
    </a>
  </div>
  <div style="text-align: center;">
    <img src="assets/restaurant_login_logo.png" width="110" />
    <a [routerLink]="['restaurant-login']">
      <h3 style="color:orangered">Restaurant</h3>
    </a>
  </div>
</div>

  
