.login-card {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    position: relative; 
    top:100px;
}

.login-form {
    min-width: 150px;
    max-width: 300px;
    margin: 50px;
    width: 100%;
}

.full-width {
    width: 100%;
}

button {
    margin: 30px 0;
}

.login-title {
    font-size: 1.7em;
} 

.error {
    color:red;
}

.container {
    height: 700px;
    background-image: url("http://europe-public.foodpanda.com/assets/production/eg/images/site-overrides/site_background_path-20180129-081532.jpg");
}