<div class="bg">
    <div class="wrapper">
        <mat-grid-list cols="4">
            <mat-grid-tile colspan="3" rowspan="5">

                <mat-list cdk-scrollable>
                    <h3 mat-subheader>Menu Items</h3>
                    <mat-list-item *ngFor="let mItem of menuItems;let num=index">
                        <img mat-list-avatar src="{{mItem.img}}" alt="{{mItem.name}}">
                        <h3 mat-line> {{mItem.name}} </h3>
                        <p mat-line class="demo-2">{{mItem.desc}}</p>
                        <div> ${{mItem.price}} </div>
                        <button mat-icon-button (click)="handleBtnAdd(num)">
                            <mat-icon>add_circle_outline</mat-icon>
                        </button>
                        <mat-divider></mat-divider>
                    </mat-list-item>
                </mat-list>
            </mat-grid-tile>
            <mat-grid-tile colspan="1" rowspan="6">
                <order-basket></order-basket>
            </mat-grid-tile>
        </mat-grid-list>

    </div>
</div>