 .mat-grid-tile {
    display: inline-block;
    padding:  .25rem;
    width:  100%; 
    }

    .mat-card {
        float: left; 
        margin: 20px;
        display: block;
        margin-bottom: 1rem;
        width: 500px;
       
       }
  
   
